
<body>
    <div class="conteiner mt-4">
        <div class="row">
            <h1>Curso Flask</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Ejemplo 1</td>
                        <td>Ejemplo 2</td>
                        <td>Ejemplo 3</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dato 1</td>
                        <td>dato 2</td>
                        <td>dato 3</td>
                    </tr>
                </tbody>
            </table>
            {% block container %}

            {% endblock %}
        </div>
    </div>
</body>
</html>